input:focus {
    color: white;
    background-color: darkgrey;
}

p a:link {
    text-decoration: none;
    color: brown;
}

p a:active {
    font-size: 15px;
    color: cornflowerblue;
}

p a:visited {
    color: thistle;
}